NEXT_PUBLIC_SUPABASE_URL=https://cvfnykfvmgltoaalmkno.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_SB1PyM3hY4NXTKeobqcMMg_afACkeS2
OPENAI_API_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
